body {
    font-family: 'Roboto', sans-serif;
}

#inputBox {
    flex-grow: 1;
}

#askButton {
    flex-basis: 100px;
}

#questionBox {
    display: flex;
}

.answerBox {
    border-radius: 16px;
    background-color: maroon;
    margin: 8px 0;
    padding: 4px 12px;
    color: white;
    font-weight: 500;
    word-wrap: break-word;
}

.answerBox > img {
    display: block;
    margin: auto;
    border: solid white 10px;
    border-radius: 10px;
    height: 40%;
    background-color: white;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
